html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px 2px 10px 2px;
}
/* header styles------------------------------------------------------------------------ */

a{
  color: inherit;
}

.navbar{
  justify-content: space-around;
  width: 100%;
  height: 82px;
  background-color: #07294D;

}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* color: rgba(0,0,0,.5); */
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
  border-bottom: 1px solid #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
}
.dropdown-item {
  display: block;
  width: 100%;
  /* padding: .25rem 1.5rem; */
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  white-space: nowrap;
  background-color: #07294D;
  border: 0;
}

@media (max-width: 998px){
  .navbar-light .navbar-nav .nav-link{
      color: #07294D;
  }
}




/*   -----          our team       -----          */


.our__team {
  height: 100vh;
  background-color: #C4C4C4;
}

.section__header{
  margin-top: 40px;
  padding-bottom: 70px;
}

.section__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #0A3A6D;
  padding-bottom: 30px;
  position: relative;
}

.section__txt {
width: 872px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
margin: 0 auto;
align-items: center;
text-align: center;
text-transform: lowercase;
color: #000000;

}

.team__list__item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid; 
  border-color: linear-gradient(138.01deg, #0072FF 13.55%, #0E4F96 41.01%, #07294D 94.74%);
}

.section__title::after {
  position: absolute;
  content: " ";
  background: #0E4F96;
  width: 60px;
  height: 2px;
  top: 50%;
  left: 47%;
}





/* ----- inteviews  -----  */


.interviews__ja {
  height: 100vh;
  background-color: #fff;
}

.card-img-top .card__img {
  max-width: 370px;
  max-height: 214px;
}


.card__item {
  max-width: 370px;
  max-height: 330px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  margin-right: 15px;
}

.card__body {
  background: #F3F3F3;
  
  /* border-bottom: 3px solid linear-gradient(#0072FF 13.55%, #0E4F96 41.01%, #07294D 94.74%);
  -webkit-border-bottom:3px solid linear-gradient(#0072FF 13.55%, #0E4F96 41.01%, #07294D 94.74%); */
}


.card__item.first{
  position: relative;
}

.first::after {
  position: absolute;
  content: " ";
  width: 350px;
  height: 4px;
  left: 0;
  top: 252px;
  background: linear-gradient(#0072FF 13.55%, #0E4F96 41.01%, #07294D 94.74%);
}


.card__txt {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}




/* why you shoul learn to code? */

.card__code {
  height: 600px;
}

.code__txt {
  background: rgba(196, 196, 196, 0.5); 
  border-radius: 15px;
}

.card__video{
  height: 100%;
}
.title__text {
  font-family: Montserrat , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 65px 30px;
}


.code_s {
  color: #07294D;
}


/* slick slider design */
/* 
.slick-prev, .slick-next{
  top: 109% !important;
}
*/

.slick-dots{
  bottom: -50px !important;
}


/*
.slick-dots li button:before {
  font-size: 8px !important;
}


.slick-dots li.slick-active button:before {
  color: #07294D !important;
}

.slick-prev, .slick-next {
  top: 125% !important;
}


.slick-prev {
  left: 280px !important;
}

.slick-dots {
  width: 0 !important;
  left: 365px !important;
}

.slick-next {
  right: 80px !important;
} */

/* .team__list__item a:hover {
  .social-media {
    display: block;
  }
}

.social-media {
 display: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list li {
  margin-right: 5px;
} */